### for local development
### needed for docker-compose building the postgres database server
POSTGRES_DB=pme_db
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_HOST=db
POSTGRES_PORT=5432

### local
VITE_BASE_API_URL=http://localhost:8000/api/v1